h1{
	color:red;
	text-align:center;
	font-family: Algerian;
 }
h2{
	color:blue;
	text-align:center;
	font-family: Courier;
 }
 
h3{
	color:green;
	text-align:center;
	font-family: Lucide Console;
 }
 
h4{
	color:brown;
	text-align:center;
	font-family: Monotype Corsiva;
 }
 